*.aux
*.log
*.gz
App/imc-training-data.json
App/.buildozer
App/bin
imctraining/android
imctraining/build
imctraining/ios
imctraining/linux
imctraining/macos
imctraining/test
imctraining/web
imctraining/windows
imctraining/.dart_tool
imctraining/.idea
imctraining/.vscode
imctraining/analysis_options.yaml
imctraining/devtools_options.yaml
imctraining/analysis_options.yaml
imctraining/imctraining.iml
imctraining/pubspec.lock
imctraining/README.md
imctraining/.flutter-plugins-dependencies
imctraining/.gitignore
imctraining/.metadata
